<h1>Todo作成</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label class="todo-form__label">タイトル</label>
    <input type="text" formControlName="title">
  </div>

  <div>
    <label class="todo-form__label">内容</label>
    <textarea formControlName="body"></textarea>
  </div>

  <div>
    <label class="todo-form__label">カテゴリ</label>
    <select formControlName="categoryId">
      <option
        [ngValue]=""
      >
      --------------
      </option>
      <option *ngFor="let todoCategory of todoCategoryList"
        [ngValue]="todoCategory.id">
        {{todoCategory.name}}
    </option>
    </select>
  </div>

  <div class="todo-form__bouttons">
    <input type="submit" value="作成">
    <button [routerLink]="['/todo']">戻る</button>
  </div>
</form>

