<div class="app-body">
  <header class="header">
    <div class="header__content">
      <span class="header__logo">To-do Sample</span>
      <button
        class="sign-out-button"
        *ngIf="isSignedIn$ | async; else elseSignIn"
        (click)="onSignOut()"
      >
        ログアウト
      </button>
      <ng-template #elseSignIn>
        <button [routerLink]="['/auth/signIn']">
          ログイン
        </button>
      </ng-template>
    </div>
  </header>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    <div class="footer__content">
      <p>ホーム</p>
    </div>
  </footer>
</div>